{
  "env": {
    "browser": true,
    "es6": true,
    "node": true,
    "commonjs": true
  },
  "parser": "babel-eslint",
  "plugins": [
    "react"
  ],
  "rules": {
    "react/jsx-no-bind": [2, {
      "allowBind": true
    }],
    "max-len": [1, 120, 2, { "ignoreComments": true }],
    "prop-types": 0,
    "react/prop-types": 0,
    "react/prefer-stateless-function": 0,
    "func-names": 0,
    "jsx-a11y/anchor-is-valid": 0,
    "no-param-reassign": 0,
    "prefer-destructuring": 0,
    "import/no-extraneous-dependencies": 0
  },
  "extends": "airbnb"
}